@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translatex(3rem);
            transform: translatex(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translatex(3rem);
            transform: translatex(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

input {
  font-family: inherit;
}

.section-title {
  margin-top: 3rem;
  font-size: 4.1rem;
  text-transform: uppercase;
  display: inline-block;
  padding: .5rem 1rem;
}

.section-title--dark {
  color: #1b1b1b;
  border: 5px solid #1b1b1b;
}

.section-title--light {
  color: #f1d9cd;
  border: 5px solid #f1d9cd;
}

.main-title {
  color: #1b1b1b;
  text-transform: uppercase;
  font-size: 4.1rem;
  font-weight: 400;
}

.u-center-text {
  text-align: center;
}

.u-padding-top-small {
  padding-top: 2rem;
}

.u-padding-top-medium {
  padding-top: 4rem;
}

.u-padding-top-big {
  padding-top: 6rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 6rem;
}

.u-margin-top-xlarge {
  margin-top: 100rem;
}

.header {
  background: url("./../img/header_image.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.header .btn-container {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .btn-container i {
  font-size: 4rem;
}

.header .title-container {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 12%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top: 3px solid #1b1b1b;
  border-bottom: 3px solid #1b1b1b;
}

.section {
  min-height: 100vh;
}

.section--light {
  background: url("./../img/light_section.jpg") no-repeat center center;
  background-size: cover;
}

.section--dark {
  background: url("./../img/dark_section.jpg") no-repeat center center;
  background-size: cover;
}

.nav {
  z-index: 99;
  position: fixed;
  width: 100%;
  background: #1b1b1b;
  display: none;
}

.nav__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1b1b1b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  z-index: 99;
  position: relative;
}

.nav__link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 98;
  margin-top: -100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #f1d9cd;
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.095);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.095);
  margin-top: -600px;
}

.nav__link-container.open {
  margin-top: 0;
}

.nav__link {
  cursor: pointer;
  text-decoration: none;
  color: #f1d9cd;
  display: block;
  padding: 1.7rem 2.7rem;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav__link--big {
  font-size: 2.5rem;
  font-weight: 700;
}

.nav__hamburger-icon {
  cursor: pointer;
  color: #f1d9cd;
}

.nav__hamburger-icon i {
  font-size: 5.4rem;
  padding-top: .5rem;
  padding-right: .4rem;
}

.nav.visible {
  display: block;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn--primary {
  background-color: #f1d9cd;
  color: #1b1b1b;
}

.btn--primary::after {
  background-color: #f1d9cd;
}

.btn--secondary {
  background-color: #1b1b1b;
  color: #f1d9cd;
}

.btn--secondary::after {
  background-color: #1b1b1b;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.icon-btn {
  padding: 1.5rem;
  border-radius: 50%;
  outline: 0;
  border: 0;
}

.icon-btn--white {
  background: rgba(255, 255, 255, 0.9);
}
/*# sourceMappingURL=style.css.map */