a {
  text-decoration: none; }

a, a:visited, a:hover, a:active {
  color: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  line-height: 1.5rem; }

#navBar {
  background: #191b1d;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 311px;
  z-index: 99; }
  #navBar hr {
    border: none;
    height: 1px;
    color: #f1d9cd;
    background-color: #f1d9cd; }
  #navBar .titleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem; }
    #navBar .titleBar h1 {
      padding-top: 1.2rem;
      padding-left: 1rem; }
    #navBar .titleBar #hamburgerIcon {
      margin-top: 1.4rem;
      margin-right: 0.4rem; }
      #navBar .titleBar #hamburgerIcon span {
        background: #f1d9cd; }
  #navBar .navigation ul li {
    padding-left: 1rem; }
    #navBar .navigation ul li:hover {
      background-color: #f1d9cd;
      color: #191b1d; }
    #navBar .navigation ul li a {
      font-size: 1.5rem;
      line-height: 3rem; }

.sideBarOpen {
  display: none; }

@media (max-width: 365px) {
  #navBar .titleBar h1 {
    font-size: 2rem !important; } }
#hamburgerIcon {
  width: 60px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

#hamburgerIcon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 80%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

/* Icon 3 */
#hamburgerIcon span:nth-child(1) {
  top: 0px; }

#hamburgerIcon span:nth-child(2), #hamburgerIcon span:nth-child(3) {
  top: 18px; }

#hamburgerIcon span:nth-child(4) {
  top: 36px; }

#hamburgerIcon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#hamburgerIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#hamburgerIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#hamburgerIcon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

@media (min-width: 768px) {
  #hamburgerIcon {
    display: none; } }
@media (max-width: 365px) {
  #hamburgerIcon {
    margin-top: 0.9rem !important; } }
#about .aboutText {
  margin-top: 30px;
  text-align: left;
  margin-left: 21px;
  margin-right: 20px; }
#about img {
  text-align: left;
  display: block;
  margin-top: 30px;
  margin-left: 21px;
  width: 55%;
  max-width: 260px; }
#about a {
  margin-right: 100%;
  margin-top: 7px;
  margin-left: 21px; }
#about .lastButton {
  margin-bottom: 20px; }
#about .bandDivider {
  border-color: #f1d9cd; }

#news {
  min-height: 100vh; }
  #news .juicerWrapper {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px; }

#header {
  height: 100vh;
  min-height: 446px; }
  #header .headerContent {
    margin: 0 auto;
    top: 25%;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    max-height: 100vh; }
    #header .headerContent h1 {
      font-size: 3.0rem;
      color: white;
      display: none;
      font-family: 'Shadows Into Light', cursive; }
    #header .headerContent .albumContainer {
      margin-top: 100px;
      margin-bottom: 90px; }
      #header .headerContent .albumContainer .albumWrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 40vh; }
        #header .headerContent .albumContainer .albumWrapper .album {
          height: 40vh;
          width: 40vh;
          background: red;
          overflow: hidden; }
        #header .headerContent .albumContainer .albumWrapper a {
          background-color: #f1d9cd;
          border: none;
          color: #191b1d;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block; }
          #header .headerContent .albumContainer .albumWrapper a:hover {
            color: #f1d9cd;
            background: #191b1d; }

h1.referral {
  display: none !important; }

li.juicer {
  display: none !important; }

@media (min-width: 1172px) {
  #juicerMobile {
    display: none; } }
@media (max-width: 1171px) {
  #juicerFull {
    display: none; } }
#sound h2 {
  margin-top: 30px;
  text-align: left;
  margin-left: 21px; }
#sound p {
  margin-top: 10px;
  text-align: left;
  margin-left: 21px; }
#sound a {
  margin-top: 15px;
  display: block;
  text-align: center; }
#sound .soundcloudMobile {
  margin-top: 30px; }

#galerie .youtubeThumbail {
  width: 100%; }

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
  min-width: 300px;
  min-height: 300px; }

.section {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  text-align: center; }
  .section .sectionTitle {
    border: 5px solid;
    padding: 8px;
    text-align: center;
    display: inline-block;
    margin: 37px auto 0; }
  .section .sectionTitleLight {
    border-color: #191b1d;
    color: #191b1d; }
  .section .sectionTitleDark {
    border-color: #f1d9cd;
    color: #f1d9cd; }

.button {
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.1rem;
  display: inline-block; }

.buttonLight {
  background-color: #f1d9cd;
  color: #191b1d; }
  .buttonLight:hover {
    background-color: #191b1d;
    color: #f1d9cd; }

.buttonDark {
  background-color: #191b1d;
  color: #f1d9cd !important; }
  .buttonDark:hover {
    background-color: #f1d9cd;
    color: #191b1d !important; }

.light-section {
  color: #191b1d;
  background: url(../img/light_section.jpg) no-repeat fixed center center; }

.dark-section {
  color: #f1d9cd;
  background: url(../img/dark_section.jpg) no-repeat fixed center center; }

.album {
  background: url(../img/album_cover.jpg) no-repeat fixed center center;
  height: 30%;
  width: 30%;
  background-size: cover;
  margin: 0;
  padding: 0; }

#header {
  background: url(../img/header_image.jpg) no-repeat fixed center center;
  background-size: cover; }

/*# sourceMappingURL=style.css.map */
