@import "./abstracts/__functions.scss";
@import "./abstracts/__mixins.scss";
@import "./abstracts/__variables.scss";

@import "./base/__animations.scss";
@import "./base/__base.scss";
@import "./base/__typography.scss";
@import "./base/__utilities.scss";

@import "./components/__button.scss";
@import "./components/__card.scss";
@import "./components/__gallery.scss";
@import "./components/__gigtable.scss";
@import "./components/__form.scss";
@import "./components/__scroll-up-button.scss";

@import "./layout/__navigation.scss";
@import "./layout/__header.scss";
@import "./layout/__main.scss";
@import "./layout/__about.scss";
@import "./layout/__news.scss";
@import "./layout/__youtube.scss";
@import "./layout/__footer.scss";
@import "./layout/__contact.scss";

@import "./pages/__home.scss";