@import "partials/variables";
@import "partials/normalize.scss";
@import "partials/sections/navBar";
@import "partials/sections/hamburgerIcon";
@import "partials/sections/about";
@import "partials/sections/news";

body {
  height: 100vh;
  width: 100vw;
  background: url(../img/header_image.jpg) no-repeat fixed center center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.section {
  height: 100vh;
  background-size: cover;

}
.light-section {
  color: $darkColor;
  background: url(../img/light_section.jpg) no-repeat fixed center center;

}

.dark-section {
  color: $lightColor;
  background: url(../img/dark_section.jpg) no-repeat fixed center center;

}


@media(min-width: 768px) {


}
