@import "variables";

#about{
  .sectionTitle {
    margin-top: $marginTop;
    margin-bottom: $marginTop;
  }
  .aboutText {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  a.button {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }


}
@media(min-width: 768px) {

}