@import "variables";

#about {
  .aboutButtonInline {
    display: none !important;
  }
  .sectionTitle {
    margin-top: $marginTop;
    margin-bottom: $marginTop;
  }
  .aboutText {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  a.button {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  img {
    margin: 1.5rem auto;
    display: block;
  }
  .bandText {
    margin-bottom: 1.5rem;
  }

}

@media(min-width: 894px) {
  #about {
    .aboutWrapper {
      width: 95vw;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-around;
      hr {
        display: none;
      }
      img {
        margin-left: 1.0rem;
        margin-right: 1.0rem;
        margin-bottom: 5rem;
      }
      .aboutText {
        margin-right: 1rem;
        margin-top: 1.4rem;
      }
    }
    .aboutButton {
      display: none !important;
    }
    .aboutButtonInline {
      display: block !important;
    }
  }
}

@media(min-width: 1090px) {
  #about {
    .bandText {
      width: 30vw;
      margin-left: auto;
      margin-right: auto;
    }
    .aboutWrapper {
      width: 70vw;
    }
  }
}

