@import "variables";

$paddingLeft: 0.5rem;

header {
  background: url($headerImg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;

  .titleBar {
    display: flex;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
  }
  .title {
    display:none;
  }
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    padding-left: $paddingLeft;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.4rem;
    width: 80%;

  }
  #hamburgerIcon {
    flex: 1;
    margin-top: 0.2rem;
  }
  hr {
    margin: 0;
    padding: 0;
    border: solid $lightColor 1px;
  }
  nav {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: $darkColor;
    color: $lightColor;

    .menuLinks {
      display: none;
      flex-direction: column;
      a {
        text-decoration: none;
        color: $lightColor;
        padding-left: $paddingLeft;
        padding-top: 0.8rem;
        font-size: 1.3rem;
        padding-bottom: 0.8rem;
        &:hover {
          color: white;
        }
        &:visited {
          text-decoration: none;
          color: $lightColor;
        }


      }
    }
  }

  article {
    display: flex;
    flex-direction: column;
    width: 15rem;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    .albumCover {
      background: url($album) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 15rem;
      width: 15rem;
    }
    .orderButton {
      text-align: center;
    }

    div.scrollButton {
      font-size: 5rem;
      text-align: center;
      margin-top: 1.5rem;
      a i {
        color: white;
      }
    }
  }
}


@media(min-width: 768px) {
  header {
    .titleBar {
      display: none;
    }

    h1 {
      display: none;
    }
    nav {
      .menuLinks {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    article {
      width: 18rem;
      .albumCover {
        height: 18rem;
        width: 18rem;
      }
    }

  }
}

@media(min-width: 1100px) {
  header {
    .title {
      display: block;
      font-size: 1.8rem;
      width: 40%;
    }
    nav {
      .menuLinks {
        display: flex !important;
      align-items: center;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        .last{
          margin-right: 3rem;
        }
      }
    }
    article {
      width: 22rem;
      .albumCover {
        height: 22rem;
        width: 22rem;
      }
    }
  }
}


