h1.referral {
  display: none !important;
}
li.juicer {
  display: none !important;
}



@media(min-width: 1172px) {
  #juicerMobile{
    display: none !important;
  }
}

@media(max-width: 1171px) {
  #juicerFull{
    display: none !important;
  }
}