h1.referral {
  display: none !important;
}
li.juicer {
  display: none !important;
}



@media(min-width: 636px) {
  #juicerMobile{
    display: none !important;
  }
}

@media(max-width: 635px) {
  #juicerFull{
    display: none !important;
  }
}