@import "variables";

#sound {

  .sectionTitle {
    margin-bottom: $marginTop;
  }
  p {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 2.1rem;
  }
  .card {
    /* Add shadows to create the "card" effect */
    width: 100vw;
    transition: 0.3s;
    margin: auto;
    //background: $lightColor;
    p {
      color: $darkColor;
      margin-top: 0.9rem;
      margin-left: 0.9rem;
      margin-right: 0.9rem;
    }
    img {
    }
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      padding-top: 1.4rem;
      margin-bottom: 1.4rem;
      color: $darkColor;
    }
  }



  a.button {
    display: block;
    margin-top: 1.1rem;

  }

  .soundcloudMobile {
    margin-top: $marginTop;
  }

}

@media(min-width: 894px) {
  #sound {
    .soundWrapper {
      display: flex;
      flex-direction: row-reverse;
      .card{
        background: none;
        width: 60vw;
        margin-left: 1rem;
        margin-right: 2rem;
        p,h2 {
          color: $darkColor;
        }
        p {
          margin-left: 4rem;
          margin-right: 4rem;
          margin-bottom: 0 !important;
        }
      }
      .soundcloudMobile {
        width: 40vw;
        margin: 0 1rem 0 2rem;
      }
      a.button {
        display: block;
        margin: 0.4rem 4rem 3rem;

      }
    }
  }
}
@media(min-width: 1090px) {
  #sound {
    .soundWrapper {
      width: 70vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

