.swiper-container {
    max-width: 42rem;
    position: relative;
    min-height: 70vh;
}

.swiper-button-prev-custom i {
    position: absolute;
    top: 40%;
    left: -2rem;
    transform: translateY(-50%);
    font-size: 8rem;
    color: $color-secondary;
    z-index: 999;
}

.swiper-button-next-custom i {
    position: absolute;
    top: 40%;
    right: -2rem;
    transform: translateY(-50%);
    font-size: 8rem;
    color: $color-secondary;
    z-index: 999;
}