.section-about {
    .swiper-button-prev,
    .swiper-button-next {
        opacity: .7;
        z-index: 99;
    }
    .swiper-button-next {
        margin-right: -1rem;
    }
}

.swiper-button-prev {
    margin-left: -1rem;
}

@media screen and (min-width: 630px) {
    .card,
    .swiper-slide {
        width: 80vw !important;
        margin: 0 auto;
    }
}

@media screen and (min-width: 960px) {
    .card,
    .swiper-slide {
        width: 40vw !important;
        margin: 0 auto;
    }
}