.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $color-grey-dark-2;
    color: rgba($color-white, .7);
    padding: 1.2rem;
    .paragraph {
        flex: 1;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .social-icons-container {
        display: flex;
        font-size: 3rem;
        justify-content: space-around;
        flex: 2;
        .social-icon {
            color: rgba($color-white, .7);
            text-decoration: none;
            &:visited {
                color: rgba($color-white, .7);
            }
            &:hover {
                color: $color-primary;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .footer {
        width: 75vw;
        margin-left: 25vw;
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        width: 80vw;
        margin-left: 20vw;
    }
}

@media screen and (min-width: 1620px) {
   .footer {
       width: 85vw;
       margin-left: 15vw;
   }
}