.header {
    background: url("../img/mobile_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    .text-logo {
        width: 87%;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;

    }
    .btn-container {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
    }
}