.header {
    background: url('./../img/header_image.jpg') no-repeat center center;
    background-size: cover;   
    position: relative;
    height: 100vh;
    width: 100vw;
    .btn-container {
        position: absolute;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
        i {
            font-size: 4rem;
        }
    }
    .title-container {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 12%;
        transform: translate(-50%, -50%);
        border-top: 3px solid $color-secondary;
        border-bottom: 3px solid $color-secondary;
        
    }
}
