.section {
    min-height: 100vh;
    text-align: center;
    &--light {
        background: url('./../img/light_section.jpg') no-repeat center center;
        background-size: cover;
    }
    &--dark {
        background: url('./../img/dark_section.jpg') no-repeat center center;
        background-size: cover;
    }
}