.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        &::after {
            opacity: 0;
        }
    }
    &:active,
    &:focus {
        outline: none;
        box-shadow: 0 .5rem 1rem rgba($color-black, .4);
    }
    &--primary {
        background-color: $color-primary;
        color: $color-secondary;
        &::after {
            background-color: $color-primary;
        }
    }
    &--flat {
        box-shadow: none;
        &hover,
        active,
        focus {
            box-shadow: none;
            transform: translateY(0);
        }
    }
    &--secondary {
        background-color: $color-secondary;
        color: $color-primary;
        &::after {
            background-color: $color-secondary;
        }
    }
    &--block {
        display: block;
        width: 100%;
        text-align: center;
    }
   
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}