.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;
        border: none;
        cursor: pointer;
    }
    
    &--block {
        border-radius: 0;
        display: block;
        width: 100%;
    }
    &--hoverable {
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.4);
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.4);
        }
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--primary {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--primary-dark {
        background-color: $color-primary-dark;
        color: $color-white;

        &::after {
            background-color: $color-primary-dark;
        }
    }

    &--primary-light {
        background-color: $color-primary-light;
        color: $color-white;

        &::after {
            background-color: $color-primary-light;
        }
    }
    
    &--secondary {
        background-color: $color-secondary;
        color: $color-black;

        &::after {
            background-color: $color-secondary;
        }
    }
    
    &--secondary-light {
        background-color: $color-secondary-light;
        color: $color-black;

        &::after {
            background-color: $color-secondary-light;
        }
    }
    

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .3s ease-out .25s;
        animation-fill-mode: backwards;
    }
}

