.form {
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.05);

    &__input {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        font-family: inherit;
        border-radius: 2px;
        background-color: rgba($color-white, .6);
        border: none;
        border-bottom: 2px solid transparent;
        width: 100%;
        display: block;
        color: inherit;
        margin-bottom: 1rem;

        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black,.1);
            border-bottom: 2px solid $color-green-dark;
            background-color: $color-white;
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-primary;
        }
        &--textarea {
            min-height: 190px;
            margin-bottom: 0;
        }
    }


    &__label {}
}