.gigtable {
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 4rem;
    width: 100vw;
    background: rgba($color-primary, .8);
    box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.9);
    &:hover {
        box-shadow: 0px 0px 56px 0px rgba(0,0,0,0.10);

    }
    &__thead{
        background: $color-primary;
        color: $color-secondary;
    }
    &__th{
        text-align: center;
        padding: .5rem;
        color: $color-secondary;
    }

    &__tbody{
        
    }

    &__tr{
        &:hover {
            background: $color-white;
        }

    }

    &__td{
        padding: .4rem;
    }

    &__thead,
    &__tr {
        border: 1px solid rgba($color-grey-dark, .1);
    }

}

