.hamburger-icon {
   display: inline-block;
   cursor: pointer;
   position: absolute;
   top: 4%;
   left: calc(((100vw - 87%) /2));
    &__line{
        width: 4rem;
        display: block;
        height: 6px;
        background-color: $color-black;
        margin: 8px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}