.scroll-up-button {
    position: fixed;
    bottom: 5px;
    right: -5px;
    z-index: 99;
    background: none;
    color: rgba($color-grey-dark, .5);
    width: 3rem;
    height: 3rem;
    display: none;
    outline: none;
    border: none;
    &.visible {
        display: block;
    }
    i {
        font-size: 3rem;
    }
}