.text-btn {
  background: transparent;
  border-radius: 19%;
  border: none;
  padding: 1rem 2rem;
  transform: scale(1);
  cursor: pointer;

  &--white,
  &--white:link,
  &--white:visited {
    text-decoration: none;
    background: white;
    color: $color-secondary;
    border-bottom: 1px solid black;
    transform: scale(1);
    transition: all 0.2s;


    &:hover {
      background: $color-grey-light;
      outline: 0;
      transform: scale(1.1);
    }
  }
  &--primary,
  &--primary:link,
  &--primary:visited {
    text-decoration: none;
    background: transparent;
    color: $color-primary !important;
    border-bottom: 1px solid $color-primary;
    transform: scale(1);
    transition: all 0.2s;


    &:hover {
      background: rgba($color-primary, .05);
      outline: 0;
      transform: scale(1.1);
    }
  }
}
