@import "../variables";

#galerie {
  .youtubeThumbail {
    width: 90vw;
    margin: 20px $marginLeft 10px;
  }
  h2{
  margin-top: 20px;
  }
  hr {
    border-color: $lightColor;
  }
  .fotos {
    margin-bottom: 40px;
  }
}