@import "../variables";


#header {
  z-index: 1;
  background: url(../../../img/header_image.jpg) no-repeat fixed center center;
  background-size: cover;
  height: 100vh;
  .headerContent {
    z-index: 2;
    margin: 0 auto;
    top: 25%;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;

    h1 {
      font-size: 3.0rem;
      color: white;
      display: none;
      font-family: 'Shadows Into Light', cursive;
    }

    .album {
      margin-top: 90px;
      height: 300px;

      img {
        max-height: 300px;
        max-width: 300px;
        -webkit-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.55);
        -moz-box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.55);
        box-shadow: 10px 10px 71px 0px rgba(0,0,0,0.55);
      }
    }

    .orderButton {
      width: 300px;
      margin-top: 0;

    }

  }
}