@import "../variables";

#header {
  // background set in styles.scss
  height: 100vh;
  min-height: 446px;
  .headerContent {
    margin: 0 auto;
    top: 25%;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    max-height: 100vh;
    h1 {
      font-size: 3.0rem;
      color: white;
      display: none;
      font-family: 'Shadows Into Light', cursive;
    }
    .albumContainer {
      margin-top: 100px;
      margin-bottom: 90px;
      .albumWrapper {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 40vh;
        .album {
          height: 40vh;
          width: 40vh;
          background: red;
          overflow: hidden;
        }
        a {
          background-color: $lightColor;
          border: none;
          color: $darkColor;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
      &:hover {
        color: $lightColor;
        background: $darkColor;
      }
        }

      }
    }
  }
}


