@import "../variables";

#sound {
  h2 {
    margin-top: 30px;
    text-align: left;
    margin-left: $marginLeft;

  }
  p {
    margin-top: 10px;
    text-align: left;
    margin-left: $marginLeft;

  }
  a{
    margin-top: 15px;
    display:block;
    text-align: center;
  }
  .soundcloudMobile {
    margin-top: 30px;
  }
}