body {
    font-size: $default-font-size;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}

input {
    font-family: inherit;
}

.paragraph {}

.section-title {
    margin-top: 4rem;
    font-size: 5.1rem;
    font-weight: 700;
    text-transform: uppercase;
    display:inline-block;
    padding: .5rem 1rem;
    &--dark {
        color: $color-secondary;
        border: 5px solid $color-secondary;
    }
    &--light {
        color: $color-primary;
        border: 5px solid $color-primary;
    }
}

.main-title {
    color: $color-secondary;
    text-transform: uppercase;
    font-size: 4.1rem;
    font-weight: 400;
    
}