.u-center-text {
    text-align:center;
}

.u-padding-top-small {
    padding-top: 2rem;
}

.u-padding-top-medium {
    padding-top: 4rem;
}

.u-padding-top-big {
    padding-top: 6rem;
}

.u-margin-top-small {
    margin-top: 2rem;
}

.u-margin-top-medium {
    margin-top: 4rem;
}

.u-margin-top-big {
    margin-top: 6rem;
}

.u-margin-top-xlarge {
    margin-top: 100rem;
}