//colors
$color-primary: #BB2F3D;
$color-primary-dark: hsl(350, 74%, 26%);
$color-primary-light: #f15156;
$color-secondary: rgba(255, 192, 127, 1);
$color-secondary-light: rgba(255, 207, 153, 1);

$color-white: #fff;

$color-black: #000;

$color-grey-dark: #1d1d1b;

$color-green-dark: #289928;


