//colors
$color-white: #fff;
$color-black: #000;
$color-primary:#f1d9cd;
$color-secondary: #1b1b1b;
$color-grey-light: rgba(255, 255, 255, 0.959);
$color-grey-dark: #1d1d1b;
$color-grey-dark-2: #111110;
$color-green-dark: #289928;
$color-red: #bb2f3d;
//font size
$default-font-size: 1.6rem;